{% extends 'plantilla/base.html' %}

{% block title %}Iniciar Sessió{% endblock %}

{% block content %}
    <p>Inicio de sessió requerido</p>
    <form method="post">
        {% csrf_token %}
        <label for="usuario">
            usuario
            <input type="text" name="username" id="usuario">
        </label>
        <label for="pass">
            contraseña
            <input type="password" name="password" id="pass">
        </label>
        <button type="submit">Iniciar sessió</button>
        
    </form>
    <a href="{% url 'signup' %}">Registrar-se</a>
{% endblock %}
